appdirs==1.4.4
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
colorlog==6.8.2
idna==3.8
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lxml==5.3.0
numpy==2.1.1
online-judge-api-client==10.10.1
online-judge-tools==11.5.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
sortedcontainers==2.4.0
soupsieve==2.6
toml==0.10.2
urllib3==2.2.3
